SECRET_KEY=vymen-me-za-neco-dlouheho-a-nahodneho
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=tvuj@mail.nejaky
MAIL_PASSWORD=app.password.MAIL
MAIL_FROM=tvuj@mail.nejaky
APP_URL=http://localhost:5000